<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= customer.firstName  %> <%= customer.lastName  %></h1>
  <!-- <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div> -->
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Registrar Pago</a></li>
          <li class="breadcrumb-item active"><%= customer.firstName  %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <!-- <b>Last Updated <%= new Date(customer.updatedAt).toUTCString() %> </b> -->
      <b>UserId:</b> <%= customer._id %>
    </div>
  </div>

</div>

<span>hola</span>

<ul class="list-group">

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Nombre:</b></div>
      <div class="col"><%= customer.firstName %> <%= customer.lastName %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Condicion:</b></div>
      <% if(!customer.overdue){ %>
        <div style="background-color:#00FF00" class="col">Al dia</div>
      <% } else{ %>  
        <div style="background-color:#FF0000" class="col">Pendiente</div>
      <% } %>

    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Tel:</b></div>
      <div class="col"><%= customer.tel %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Email:</b></div>
      <div class="col"><%= customer.email %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Fecha Nacimiento:</b></div>
      <div class="col"><%= customer.birthday.toISOString().split('T')[0] %></div>
    </div>
  </li>

  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Cedula:</b></div>
      <div class="col"><%= customer.cedula %></div>
    </div>
  </li>

    <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Fechas actuales pagadas:</b></div>

      <% recentPayments.forEach(element => { %>
        <div>
          <div class="col"><%= element.toISOString().split('T')[0] %></div>
        </div>
       
      <% }) %>      
    </div>
  </li>

  <form action="/register_payment/<%= customer._id %>?_method=PUT" method="POST">

</ul>

<div class="row form-group mb-4">
  <!-- <div class="col">
    <label for="firstName">Siguiente mes por registrar:</label>
    <select id="payment" name="payment">
      <option value="<%= firstDayOfNextMonth.toISOString().split('T')[0] %>"><%= firstDayOfNextMonth.toISOString().split('T')[0] %></option>

</select>
  </div> -->

  <div class="col">
    <label for="lastName">Siguiente mes por registrar:</label>
    <input type="date" class="form-control" id="payment" name="payment" value="<%= firstDayOfNextMonth.toISOString().split('T')[0] %>" placeholder="Siguiente mes por registrar:" required>
  </div>

</div>

<button type="submit" class="btn btn-primary">Agregar Pago Mensual</button>

</form>
